body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
}

.container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
}

.step {
    display: none;
}

.step.active {
    display: block;
}

.themes {
    display: flex;
    justify-content: space-around;
    margin: 20px 0;
}

.theme {
    text-align: center;
    position: relative;
}


.theme img {
    width: 100px;
    height: 100px;
}

.apply-button, .next-button, .previous-button, .submit-button {
    display: block;
    margin: 10px auto;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
}

.next-button {
    background-color: #28a745;
}

.previous-button {
    background-color: #6c7d6d;
}

.submit-button {
    background-color: #ffc107;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin: 10px 0 5px;
}

input[type="text"], textarea, input[type="file"] {
    padding: 10px;
    margin: 5px 0 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

textarea {
    height: 100px;
}

h3 {
    margin-top: 20px;
}

#pricing-form {
    height: 400px;
    overflow-y: scroll;
}

.selected-theme-icon {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: rgba(0, 128, 0, 0.7);
    color: white;
    padding: 5px;

    border-radius:3px;
    display: none;
}

.theme.selected .selected-theme-icon {
    display: inline-block;
}
